<ul>
  <li>
    Lý do:
    {{reasons}}
  </li>
  <li>
    Họ và tên:
    {{name}}
  </li>
  <li>
    Số điện thoại:
    {{phoneNumber}}
  </li>
  <li>
    Địa chỉ:
    {{address}}
  </li>
  <li>
    Số cccd/cmnd:
    {{peopleID}}
  </li>
  <li>
    Số tài khoản:
    {{accountNumber}}
  </li>
  <li>
    Chi nhánh đăng kí:
    {{branch}}
  </li>
  <li>
    Lý do khác:
    {{otherReason}}
  </li>
</ul>