<ul>
     <li>
        Tên ngân hàng: {{nameBank}}
    </li>
    <li>
        Họ tên người yêu cầu: {{name}}
    </li>
     <li>
        Số điện thoại khách hàng: {{phoneNumber}}
    </li>
    <li>
        Địa chỉ: {{address}}
    </li>
    <li>
        Giá trị số tiền cần hoàn: {{prices}}
    </li>
    <li>
        Mã giao dịch: {{codeTrans}}
    </li>
    <li>
        Ngày giờ xảy ra giao dịch: {{dateTrans}}
    </li>
    <li>
        Số điện thoại khách hàng: {{phoneNumber}}
    </li>
</ul>