<ul>
    <li>
        Tên ngân hàng: {{nameBank}}
    </li>
    <li>
        Số thẻ: {{cardNumber}}
    </li>
     <li>
        Tên chủ thẻ: {{username}}
    </li>
    <li>
        Số điện thoại: {{phoneNumber}}
    </li>
     <li>
        Ngày phát hành: {{dateCard}}
    </li>
</ul>